<div class="comments">
    <div *ngFor="let commentObservableArray of commentsForSelectedPost | async">
        <div *ngFor="let comment of commentObservableArray">
            <comment *ngIf="comment?.author && comment?.comment" [author]="comment.author" [text]="comment.comment" [key]="comment.key"
                [postId]="postId">
                </comment>
        </div>
    </div>
    <form class="comment-form" (ngSubmit)="onSubmit(author.value, comment.value)">
        <input type="text" #author [value]="authService.getUserName() | async" readOnly/>
        <input type="text" #comment placeholder="comment" />
        <button type="submit" hidden>Submit</button>
    </form>
</div>