.photo-grid__button_add
    padding 50px 0px 50px 0px

.modal-grid__button
    display flex

.modal-grid__button_submit
    flex-basis 100%
   
.modal-grid__button_submit input[type=submit] 
    padding 5px 15px 
    background white 
    border none
    cursor pointer
    color  #125688

.modal-open
    overflow: hidden
.modal-open .modal 
    overflow-x: hidden
    overflow-y: auto

.modal-backdrop.fade 
    position fixed
    top 0
    left 0
    right 0
    bottom 0
    background-color: rgba(255, 255, 255, 0.75)
    z-index 100
.modal-content
    position absolute
    top: 50%
    left: 50%
    right: auto
    bottom: auto
    border 1px solid #ccc
    background #fff
    overflow auto
    -webkit-overflow-scrolling: touch
    border-radius: 4px
    outline none
    padding 20px
    margin-right -50%
    transform translate(-50%, -50%)
    z-index 1000

.add-photo-drop-zone
    width 200px
    height 200px
    border-width 2px
    border-color #666
    border-style dashed
    border-radius 5px


.modal 
    position: fixed
    top: 0
    right: 0
    bottom: 0
    left: 0
    z-index: 1050
    display: none
    overflow: hidden
    -webkit-overflow-scrolling: touch
    outline: 0


