.header__wrapper
    padding 10px 0
    height 80px
    overflow hidden
    line-height 40px
.header__wrapper ul
    list-style-type: none;
    margin: 0;
    padding: 0;
.header__wrapper li 
    display inline  
.header__wrapper li a
    text-decoration none;
    padding: 14px 16px;
    font-size: 2em;
.header__wrapper_actions
    float: right;
    line-height: 24px;

    